@font-face {
  font-family: unifont17;
  src: url(fonts/unifont-17.0.05.otf);
  unicode-range: U+0-FFFF;
}
@font-face {
  font-family: unifont17;
  src: url(fonts/unifont_upper-17.0.05.otf);
  unicode-range: U+10000-10FFFF;
}
@font-face {
  font-family: unifont csur;
  src: url(fonts/unifont-17.0.05.otf);
  unicode-range: U+0-DFFF, U+F900-FFFF;
}
@font-face {
  font-family: unifont csur;
  src: url(fonts/unifont_upper-17.0.05.otf);
  unicode-range: U+10000-EFFFF;
}
@font-face {
  font-family: unifont csur;
  src: url(fonts/unifont_csur-17.0.05.otf);
  unicode-range: U+E000-F8FF, U+F0000-10FFFF;
}
@font-face {
  font-family: fairfax;
  src: url(fonts/FairfaxHD.ttf);
}
@font-face {
  font-family: fairfax fs;
  src: url(fonts/FairfaxHD.ttf);
  unicode-range: U+0-EFFF, U+F200-10FFFF
}
@font-face {
  font-family: fairfax sq;
  src: url(fonts/FairfaxHD.ttf);
  unicode-range: U+0-F5BF, U+F8A0-1CBFF, U+1CEC0-1EFFF, U+1F200-FAFFF, U+100000-100FFF;
}
@font-face {
  font-family: fairfax fs;
  src: url(fonts/KreativeSquare.ttf);
  unicode-range: U+F000-F1FF;
}
@font-face {
  font-family: fairfax sq;
  src: url(fonts/KreativeSquare.ttf);
  unicode-range: U+F5C0-F89F, U+1CC00-1CEBF, U+1F000-1F1FF, U+FB000-FFFFF;
}
@font-face {
  font-family: globopixelia;
  src: url(fonts/Globopixelia.ttf);
}
@font-face {
  font-family: special;
  src: url(fonts/FairfaxHD.ttf);
  unicode-range: U+1CC00-1CEB3, U+1FBCB-1FBEF;
}
