@font-face {
  font-family: unifont17;
  src: url(fonts/unifont-17.0.04.otf);
  unicode-range: U+0-FFFF;
}
@font-face {
  font-family: unifont17;
  src: url(fonts/unifont_upper-17.0.04.otf);
  unicode-range: U+10000-1FFFF;
}
@font-face {
  font-family: unifont csur;
  src: url(fonts/unifont-17.0.04.otf);
  unicode-range: U+0-DFFF, U+F900-FFFF, U+20000-EFFFF, U+F28E0-10FFFF;
}
@font-face {
  font-family: unifont csur;
  src: url(fonts/unifont_upper-17.0.04.otf);
  unicode-range: U+10000-1FFFF;
}
@font-face {
  font-family: unifont csur;
  src: url(fonts/unifont_csur-17.0.04.otf);
  unicode-range: U+E000-F8FF, U+F0000-F28DF;
}
@font-face {
  font-family: special;
  src: url(https://the179ucetile.github.io/fonts/monospace-textwall-wip.ttf);
  unicode-range: U+1CC00-1CEB3
}
